<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 bg-white px-4 py-4 text-center">
      <h1>Update your profile</h1>
      <%= simple_form_for (@user.username) do |f| %>
        <div class="form-group mt-4">
          <%= cl_image_tag @user.photo.key, class: 'avatar-large mb-2' %>
          <%= f.input :photo, as: :file, label: false %>
        </div>
        <div class="form-group mt-4">
          <%= f.input :full_name %>
          <%= f.input :email %>
          <%= f.input :username %>
          <%= f.input :about %>
        </div>
        <%= f.submit 'Update', class: 'btn btn-success w-100' %>
      <% end %>
    </div>
  </div>
</div>
