<div class="container">
  <div class="row justify-content-center pb-5">
    <div class="col-lg-6">
      <h2 class="text-center mt-5 mb-3">Look for friends!</h2>
      <% @users.reject { |user| user == current_user }.each do |user| %>
        <div class="user-card mb-4 bg-white px-2 py-2 d-flex align-items-center shadow">
          <%= link_to profile_path(user.username)  do %>
            <%= cl_image_tag user.photo.key, class: 'avatar' %>
            <div class="user-card-info ml-3 flex-grow-1">
              <p class="mb-0 font-weight-bold"><%= user.username %></p>
              <p class="mb-0"><%= user.full_name %></p>
              <p class="mb-0 text-secondary"><%= truncate(user.about, length: 50) %></p>
          <% end %>
            </div>
          <% if current_user.is_following?(user.id) %>
             <p class="mb-0 ml-2" id="following-sign">FOLLOWING</p>
          <% else %>
            <%= link_to "Follow", follow_user_path(user.id), method: :post, remote: true , class: 'font-weight-bold text-primary ml-3 follow-link' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
