<h2><%= @post.user.username %></h2>

<%= @post.description %>

<%= link_to 'Dashboard', root_path %>

<% # display only if the owner of the post is the current user logged in %>
<% if policy(@post).update?%>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<% if policy(@post).destroy? %>
  <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
